.user {
    background-color: rgb(238, 167, 145);
    border-radius: 25px;
    padding: 5px 0 10px 8px;
    margin-bottom: 8px;
}

.user p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-new {
    background-color: rgb(109, 88, 226);
    border-radius: 6px;
    color: rgb(252, 244, 244);
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-more {
    background-color: rgb(117, 102, 102);
    border-radius: 6px;
    color: aqua;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}