.user {
    background-color: rgb(53, 202, 202);    
    padding: 5px 0 10px 8px;
    margin-bottom: 8px;
    border-radius: 25px;
}

.user p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-delete {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    margin-right: 3px;
    padding: 5px 12px;
}

.btn-edit {
    background-color: rgb(113, 165, 113);
    border-radius: 6px;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}